<div class="container-lg p-0 m-bottom m-top">
  <div class="row g-5 align-items-center">
    <div class="col-5">
      <img
        src="../../../../assets/pexels-rfstudio-3621225.jpg"
        alt=""
        class="w-100"
      />
    </div>
    <div class="col-7">
      <h1>
        Become the <span class="text-coral">Master</span> of Your Kitchen!
      </h1>
      <p class="p-custom">
        Unlock your culinary potential with step-by-step instructions, handy
        tips, and detailed ingredient lists. Become a master chef in your own
        kitchen and delight in the joy of cooking diverse and delectable dishes.
      </p>
      <h2>
        Start <span class="text-green">now</span> with 3
        <span class="text-green">easy</span> steps:
      </h2>
      <ol class="step-list">
        <li class="mb-3">Registrate a profile</li>
        <li class="mb-3">Find a recipe you like</li>
        <li class="mb-3">Add ingredients to your Shopping List</li>
      </ol>
    </div>
  </div>
</div>
