<div class="row">
  <div class="col-12">
    <img
      class="img-responsive"
      [src]="recipe?.imagePath"
      [alt]="recipe?.name"
      style="max-height: 300px"
    />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        href="#"
        type="button"
        role="button"
        aria-expanded="false"
        aria-haspopup="true"
        (click)="toggleDropdown()"
      >
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" [ngClass]="{ show: isDropdownOpen }">
        <li><a class="dropdown-item" href="#">To Shopping List</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">{{ recipe?.desc }}</div>
</div>
<div class="row">
  <div class="col-12">Ingredients</div>
</div>
