@import "../../../styles.css";

.fs-hero {
  font-size: 3.2rem;
  line-height: 135%;
  margin-bottom: 2.4rem;
}

.m-hero {
  margin-top: 10rem;
}

.bg-img {
  background: url(../../../assets/pexels-ella-olsson-1640773.png);
  background-size: cover;
  padding: 0;
  height: auto;
  background-position: center;
}

.hero-features {
  background-color: var(--light-green);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
}

.hero-full-icon {
  text-align: center;
  position: relative;
  margin-right: 1.2rem;
  align-items: center;
}
.hero-features svg:first-child {
  width: 9rem;
  height: auto;
  fill: var(--primary-green);
  display: block;
}

.svg-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
  width: 5rem;
  height: auto;
}
.hero-features-card {
  display: flex;
  justify-content: center;
}
.hero-features-text {
  width: 14rem;
  font-size: 0.9rem;
  line-height: 150%;
  font-weight: 700;
}
.hero-features-text p:first-child {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0.6rem;
}

@media (max-width: 1396.98px) {
  .hero-features-text {
    width: 12rem;
  }
}

@media (max-width: 1199.98px) {
  .hero-features svg:first-child {
    width: 7rem;
  }

  .svg-centered {
    width: 4rem;
    top: 37%;
  }
  .hero-features-text {
    width: 11rem;
  }
}

@media (max-width: 991.98px) {
  .hero-features svg:first-child {
    width: 6rem;
  }

  .svg-centered {
    width: 3rem;
    top: 34%;
  }
  .hero-features-text {
    width: 12rem;
  }
  .hero-features {
    background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
  }
  .hero-features-container {
    display: flex;
    flex-direction: column;
  }
}
