<div class="container-lg p-0 m-bottom m-top xs-p">
  <div class="row g-5 custom-row-gap align-items-center mx-sm-4 mx-lg-0">
    <div class="col-5">
      <img
        src="../../../../assets/pexels-rfstudio-3621225.jpg"
        alt=""
        class="w-100 shadow firstImg"
      />
    </div>
    <div class="col-10 col-lg-7">
      <h1 class="custom-h1">
        Become the <span class="text-coral">Master</span> of Your Kitchen!
      </h1>
      <p class="p-custom">
        Unlock your culinary potential with step-by-step instructions, handy
        tips, and detailed ingredient lists. Become a master chef in your own
        kitchen and delight in the joy of cooking diverse and delectable dishes.
      </p>
      <h2 class="mb-4">
        Start <span class="text-green">now</span> with 3
        <span class="text-green">easy</span> steps:
      </h2>
      <ol class="step-list">
        <li class="mb-3">Registrate a profile</li>
        <li class="mb-3">Find a recipe you like</li>
        <li class="mb-3">Add ingredients to your Shopping List</li>
      </ol>
      <button class="btn-green btn-big shadow" routerLink="/recipes">
        See recipes
      </button>
    </div>
  </div>
</div>
<section class="container-lg p-0 m-bottom m-top recipes">
  <div class="mx-sm-4 mx-lg-0 xs-p">
    <h1 class="custom-h1 text-coral">Today's favorites</h1>
    <p class="p-custom">
      Take a look to users’ selections for today’s meal, it helps you to made a
      choice about the your meal.
    </p>
  </div>
  <button class="btn-prev" (click)="prevImg()">
    <svg width="60" height="60" fill="var(--black)" viewBox="0 0 256 256">
      <path
        d="M228,128a12,12,0,0,1-12,12H69l51.52,51.51a12,12,0,0,1-17,17l-72-72a12,12,0,0,1,0-17l72-72a12,12,0,0,1,17,17L69,116H216A12,12,0,0,1,228,128Z"
      ></path>
    </svg>
  </button>
  <button class="btn-next" (click)="nextImg()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="60"
      height="60"
      fill="var(--black)"
      viewBox="0 0 256 256"
    >
      <path
        d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"
      ></path>
    </svg>
  </button>

  <div class="recipes-container" #recipesContainer>
    <div
      class="recipe-card shadow"
      *ngFor="let recipe of recipes; let i = index"
      (click)="onClickRecipe(i)"
    >
      <div
        class="recipe-img"
        [ngClass]="{ 'recipe-active': selectedIndex === i }"
      >
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-thumb" />
        <div class="recipe-text">
          <p class="fw-bold">{{ recipe.name }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
