@import "../../../styles.css";

.fs-hero {
  font-size: 3.2rem;
  line-height: 135%;
  margin-bottom: 2.4rem;
}

.m-hero {
  margin-top: 10rem;
}

.bg-img {
  background: url(../../../assets/pexels-ella-olsson-1640773.png);
  background-size: cover;
  padding: 0;
  height: auto;
  background-position: center;
}

.hero-features {
  background-color: var(--light-green);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17vh;
}

.hero-full-icon {
  text-align: center;
  position: relative;
}
.hero-features svg:first-child {
  width: 9rem;
  height: auto;
  fill: var(--primary-green);
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--light-green);
  width: 5rem;
  height: auto;
}
