<div class="container-lg bg-img p-0">
  <div class="row">
    <div class="col">
      <h1 class="fw-extrabold fs-hero m-hero">
        <span class="text-coral"> Simplify</span> Your Shopping, and
        <span class="text-green">Taste</span> the
        <span class="text-green">Joy</span> of Every Meal!
      </h1>
      <p class="p-custom">
        Are you tired of the same old meals and uninspiring grocery shopping
        trips? Say goodbye to culinary boredom and streamline your kitchen
        experience
      </p>
      <p class="p-custom">Sign up to enjoy the features!</p>
      <form>
        <input class="custom-input" type="email" placeholder="Email" />
        <button class="input btn-coral">Sign up for Free</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
