<div class="container-lg bg-img p-0">
  <div class="row">
    <div class="col p-0">
      <h1 class="fw-extrabold fs-hero m-hero">
        <span class="text-coral"> Simplify</span> Your Shopping, and
        <span class="text-green">Taste</span> the
        <span class="text-green">Joy</span> of Every Meal!
      </h1>
      <p class="p-custom">
        Are you tired of the same old meals and uninspiring grocery shopping
        trips? Say goodbye to culinary boredom and streamline your kitchen
        experience
      </p>
      <p class="p-custom">Sign up to enjoy the features!</p>
      <form>
        <input class="custom-input" type="email" placeholder="Email" />
        <button class="input btn-coral m-bottom">Sign up for Free</button>
      </form>
    </div>
    <div class="col p-0"></div>
  </div>
</div>
<div class="hero-features">
  <div class="container-lg p-0">
    <div class="row">
      <div class="col p-0">
        <div class="hero-features-card">
          <div class="hero-full-icon">
            <svg viewBox="0 0 100 100">
              <circle cx="50" cy="50" r="50" />
            </svg>
            <svg class="svg-centered" fill="#000000" viewBox="0 0 256 256">
              <path
                d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm83.13,96H179.56a155.5,155.5,0,0,0-19.51-65.63A84.23,84.23,0,0,1,211.13,116ZM100.51,140h55c-2.25,26.69-12,51.46-27.49,69.85C112.46,191.46,102.76,166.69,100.51,140Zm0-24c2.25-26.69,11.95-51.46,27.49-69.85,15.54,18.39,25.24,43.16,27.49,69.85ZM96,50.37A155.5,155.5,0,0,0,76.44,116H44.87A84.23,84.23,0,0,1,96,50.37ZM44.87,140H76.44A155.5,155.5,0,0,0,96,205.63,84.23,84.23,0,0,1,44.87,140Zm115.18,65.63A155.5,155.5,0,0,0,179.56,140h31.57A84.23,84.23,0,0,1,160.05,205.63Z"
              ></path>
            </svg>
          </div>
          <div class="hero-features-text align-self-center">
            <p>Explore Inspiring Recipes</p>
            <p>
              Browse our extensive recipe book for a diverse range of culinary
              delights.
            </p>
          </div>
        </div>
      </div>
      <div class="col p-0">
        <div class="hero-features-card">
          <div class="hero-full-icon">
            <svg viewBox="0 0 100 100">
              <circle cx="50" cy="50" r="50" />
            </svg>
            <svg class="svg-centered" fill="#000000" viewBox="0 0 256 256">
              <path
                d="M192,20H96A20,20,0,0,0,76,40V60H64A20,20,0,0,0,44,80V224a12,12,0,0,0,19.32,9.51L108,199.14l44.69,34.37A12,12,0,0,0,172,224V177.6l20.68,15.91A12,12,0,0,0,212,184V40A20,20,0,0,0,192,20ZM148,199.63l-32.69-25.14a12,12,0,0,0-14.63,0L68,199.63V84h80Zm40-40-16-12.3V80a20,20,0,0,0-20-20H100V44h88Z"
              ></path>
            </svg>
          </div>
          <div class="hero-features-text align-self-center">
            <p>Save your own recipes</p>
            <p>Save your own recipes to share it with the community.</p>
          </div>
        </div>
      </div>
      <div class="col p-0">
        <div class="hero-features-card">
          <div class="hero-full-icon">
            <svg viewBox="0 0 100 100">
              <circle cx="50" cy="50" r="50" />
            </svg>
            <svg class="svg-centered" fill="#000000" viewBox="0 0 256 256">
              <path
                d="M140,128v40a12,12,0,0,1-24,0V128a12,12,0,0,1,24,0ZM243.82,98.64,230,202.64A20.06,20.06,0,0,1,210.13,220H45.87A20.07,20.07,0,0,1,26,202.65l-13.86-104A20,20,0,0,1,32,76H66.55L119,16.1a12,12,0,0,1,18.06,0L189.45,76H224a20,20,0,0,1,19.81,22.64ZM98.45,76h59.11L128,42.22Zm121,24H36.57l12.8,96H206.63Zm-51.37,26.81-4,40a12,12,0,0,0,10.75,13.13c.4,0,.81.06,1.21.06a12,12,0,0,0,11.92-10.81l4-40a12,12,0,1,0-23.88-2.38Zm-80.12,0a12,12,0,0,0-23.88,2.38l4,40A12,12,0,0,0,80,180c.39,0,.8,0,1.2-.06a12,12,0,0,0,10.75-13.13Z"
              ></path>
            </svg>
          </div>
          <div class="hero-features-text align-self-center">
            <p>Plan with Precision</p>
            <p>
              As you choose recipes, our app automatically compiles a detailed
              shopping list for you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-recipe-start2></app-recipe-start2>
