<div>
  <div class="row" *ngIf="filteredRecipes && filteredRecipes.length > 0">
    <div class="col-md-4 col-lg-4" *ngFor="let recipe of filteredRecipes">
      <div class="card">
        <img
          [src]="recipe.imagePath"
          class="card-img-top"
          [alt]="recipe.name"
        />
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">{{ recipe.desc }}</p>
          <a
            href="#"
            class="btn btn-primary"
            [routerLink]="['/recipes', recipe.id]"
          >
            Go to recipe
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
