<div *ngIf="filteredRecipes && filteredRecipes.length > 0">
  <div
    class="card card-margin-bottom"
    style="width: 18rem"
    *ngFor="let recipe of filteredRecipes"
  >
    <img [src]="recipe.imagePath" class="card-img-top" [alt]="recipe.name" />
    <div class="card-body">
      <h5 class="card-title">{{ recipe.name }}</h5>
      <p class="card-text">
        {{ recipe.desc }}
      </p>
      <a
        href="#"
        class="btn btn-primary"
        [routerLink]="['/recipes', recipe.id]"
      >
        Go to recipe
      </a>
    </div>
  </div>
</div>
