<div class="container-lg p-0 m-bottom">
  <div class="row mx-sm-4 mx-lg-0">
    <div class="col-sm-8 col-lg-7 xs-p">
      <h1 class="custom-h1">
        Acces <span class="text-green">Anytime, Anywhere</span>
      </h1>
      <p class="p-custom" style="margin-bottom: 4rem">
        Take your kitchen skills to new heights with our app that goes where you
        go. Access your favorite recipes and shopping lists from your
        smartphone, tablet, or computer. Plan your meals on the go and make
        grocery shopping a cinch, all at your fingertips.
      </p>
      <h2><span class="text-coral">User-Friendly</span> Interface</h2>
      <p class="p-custom">
        Our app is designed with you in mind. Enjoy a seamless and intuitive
        user experience that makes browsing recipes and managing your shopping
        list a breeze. Whether you're a seasoned chef or a kitchen novice,
        RecipeBook caters to all levels of expertise.
      </p>
      <input
        type="text"
        class="custom-input shadow mb-sm-4"
        placeholder="Email"
      />
      <button class="btn-green shadow">Try it now</button>
    </div>
    <div class="col-sm-4 col-lg-5 mt-5">
      <img
        src="../../../assets/vecteezy_smartphone-and-mobile-phone_11047537.png"
        alt=""
      />
    </div>
  </div>
</div>
