<div class="row">
  <div class="col-12 mx-0 mb-4 px-0">
    <div *ngIg="!recipe" class="text-center mb-3">
      <h1>Please select a recipe!</h1>
    </div>
    <button class="btn-coral w-100" (click)="newRecipe()">New Recipe</button>
  </div>
  <hr />
</div>
<div class="row">
  <div
    class="col-12 col-md-12 list-group"
    style="height: 68vh; overflow: scroll"
  >
    <app-recipe-item
      (click)="onSelectRecipe()"
      *ngFor="let recipeEl of recipes"
      [recipe]="recipeEl"
      routerLink="{{ recipeEl.id }}"
    ></app-recipe-item>
  </div>
</div>
