<div class="container-md">
  <h1 class="mb-3">Discover Recipes with What You Have at Home</h1>
  <h3 class="text-muted mb-3">
    Simply select the items from your pantry or fridge, and let our app do the
    rest. We'll scour our vast recipe database to present you with delicious
    recipes that match the ingredients you already have.
  </h3>
  <h3 class="text-muted mb-5">
    Embrace the joy of cooking with what you have on hand.
    <strong class="text-succes">Start your flavorful journey today!</strong>
  </h3>
  <div class="row">
    <div class="col-6">
      <form [formGroup]="itemGridForm" (ngSubmit)="findRecipe()">
        <ul class="list-group">
          <li
            *ngFor="let ingredient of ingredients; let i = index"
            class="list-group-item"
          >
            <input
              class="form-check-input me-1"
              type="checkbox"
              formControlName="{{ ingredient.name }}"
              id="{{ ingredient.name }}"
            />
            <label
              class="form-check-label stretched-link"
              for="{{ ingredient.name }}"
              >{{ ingredient.name }}</label
            >
          </li>
        </ul>
      </form>
    </div>
    <div class="col-6">
      <h4>You have:</h4>
      <ul>
        <li *ngFor="let selectedItem of selectedIngredients">
          {{ selectedItem }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary">Find Recipes</button>
    </div>
  </div>
</div>
