<div class="container-md mt-5 text-center">
  <h1 class="mb-3 text-coral fs-1">
    Discover Recipes with What You Have at Home
  </h1>
  <h3 class="text-muted mb-2 fs-3">
    Simply select the items from your pantry or fridge, and let our app do the
    rest. We'll scour our vast recipe database to present you with delicious
    recipes that match the ingredients you already have.
  </h3>
  <h3 class="text-muted mb-5 fs-3">
    Embrace the joy of cooking with what you have on hand.
    <br />
    <strong class="text-green">Start your flavorful journey today!</strong>
  </h3>
  <div class="row justify-content-between">
    <div class="col-6" style="height: 50vh; overflow: scroll">
      <form [formGroup]="itemGridForm" (ngSubmit)="selectItem()">
        <ul class="list-group text-start">
          <li
            *ngFor="let ingredient of ingredients; let i = index"
            class="list-group-item fs-5"
          >
            <input
              class="form-check-input me-1"
              type="checkbox"
              formControlName="{{ ingredient.name }}"
              id="{{ ingredient.name }}"
            />
            <label
              class="form-check-label stretched-link ms-1"
              for="{{ ingredient.name }}"
              >{{ ingredient.name }}</label
            >
          </li>
        </ul>
      </form>
    </div>
    <div class="col-5">
      <h4 class="fw-bold">You have:</h4>
      <ul class="list-group list-unstyled fs-4">
        <li *ngFor="let selectedItem of selectedIngredients">
          {{ selectedItem }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="text-center mt-4">
      <button type="submit" class="btn-green" (click)="findRecipes()">
        Find Recipes
      </button>
    </div>
  </div>
  <app-eatsplorer-list
    [filteredRecipes]="filteredRecipes"
  ></app-eatsplorer-list>
</div>
