<div class="row">
  <div class="col-12">
    <form>
      <form
        class="row mb-3"
        [formGroup]="itemForm"
        (ngSubmit)="addorUpdateItem()"
      >
        <div class="col-sm-5">
          <label class="form-label" for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            #nameInput
            formControlName="itemName"
          />
        </div>
        <div class="col-sm-2 mb-3">
          <label class="form-label" for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            #amountInput
            formControlName="itemAmount"
          />
        </div>
        <div class="row">
          <div class="col-12">
            <button
              class="btn btn-success me-1 shadow"
              type="submit"
              [disabled]="!itemForm.valid"
            >
              {{ editMode ? "Update" : "Add" }}
            </button>
            <button
              class="btn btn-danger me-1 shadow"
              type="button"
              (click)="deleteItem()"
              *ngIf="editMode"
            >
              Delete
            </button>
            <button
              class="btn btn-primary me-1 shadow"
              type="button"
              (click)="onClear()"
            >
              Clear
            </button>
          </div>
        </div>
      </form>
    </form>
  </div>
</div>
